/Workspace/History
/Workspace/ProjectOutputs
/Workspace/*.pcbdoc_viewstate
/Workspace/*.PrjPcbStructure
/Workspace/*.LOG
/Workspace/*.log

#/Datasheet


/Example
/Mkkopter
/Simulators
/ToRead


